/********************************************* Google Fonts ********************************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&family=Comfortaa:wght@400;500;600;700&display=swap');
/********************************************* Slider Font *********************************************/

@font-face {
  src: url('../webfonts/slidetext.ttf');
  font-family: 'slidetext';
}

/********************************************* General Setting *****************************************/

:root {
  --main-color: #276db4;
  --logo-color: #808183;
  --bg-color: #f7c5a8;
  --bg-nav: #d6d6d6;
  --bg2-color: #a6dcef;
}

body {
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Baloo Tamma 2', cursive; */
  font-family: 'Baloo Tamma 2', cursive;
  font-family: 'Comfortaa', cursive;
  background-color: #d6d6d6;
}

a {
  text-decoration: none !important;
}

.title {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.title .name {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 50px !important;
  color: var(--logo-color);
}

.title span {
  display: block;
  width: 130px;
  height: 5px;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 50px;
  background-color: var(--main-color);
}

.title-name {
  font-size: 30px;
  font-weight: 600;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
  transition: all .8s ease;
}

/*<!-- ******************************************* Start Cover page  ********************************* -->*/

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.cover {
  background-image: url(../images/contact/cover.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.cover .description h1 {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 30px;
}

.cover .description {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg-color);
  font-family: 'slidetext';
}

.cover .description p {
  font-size: 24px;
  font-family: 'Comfortaa', cursive;
}

/*  <!-- ******************************************* End cover page  ********************************* --> */

/*   <!-- *******************************************  Start  Google Maps &  Contact Info Area *************************************** --> */

.single-contact-info i {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 15px;
  color: #3086bb;
}

.info p {
  font-family: 'Comfortaa', cursive;
  color: #000;
}

.mapouter {
  position: relative;
  z-index: 1;
  text-align: right;
  padding-right: 5%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 200%;
  width: 100%;
}

/*  <!-- *******************************************  End  Google Maps &  Contact Info Area *************************************** --> */

/*  <!-- *******************************************  Start Heading section  *************************************** -->*/

.heading-section .h1 {
  /* font-size: 16px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase; */
 /* margin-bottom:20px; */
  color: rgba(0, 0, 0, 0.3);
  color: #2c6ed5;
  letter-spacing: 2px;
}

.heading-section h2 {
  font-size: 30px;
  font-weight: 600;
  color: #808183;
  font-family: 'Comfortaa', cursive;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

.heading-section p {
  font-family: 'Baloo Tamma 2', cursive;
  color: #3086bb;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* <!-- ******************************************* Heading section End   *************************************** --> */

/*<-- *******************************************  Start Contact Form Area  *************************************** --> */

input, textarea, select, button, label {
  font-family: 'Baloo Tamma 2', cursive;
  color: #333;
  font-size: 13px;
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: none;
}

.wrapper {
  /* min-height: 100vh; */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

/* .inner {
  min-width: 950px;
  margin: auto;
  padding-top: 48px;
  padding-bottom: 48px;
} */

.title-form h3{
  font-size: 30px;
  color: #007bff;
  font-family: 'Baloo Tamma 2', cursive;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
/* .inner h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Baloo Tamma 2', cursive;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  color: #007bff;
  letter-spacing: 2px;
} */

.image {
  /* margin-right:10px; */
  background: url("../images/contact/image.form.jpg") right no-repeat;
}



.btn {
  border: none;
  width: 152px;
  height: 40px;
  margin: auto;
  margin-top: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #2c6ed5;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Baloo Tamma 2', cursive;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f11a09;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.checkbox {
  position: relative;
}

.checkbox label {
  padding-left: 22px;
  cursor: pointer;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox input:checked~.checkmark:after {
  display: block;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 12px;
  width: 13px;
  border-radius: 2px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  color: #000;
  font-size: 10px;
  font-weight: bolder;
}

.checkmark:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  content: '\f26b';
}

@media (max-width: 991px) {
  .inner {
    min-width: 100%;
  }
}

@media (max-width: 767px) {
  .inner {
    min-width: auto;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* form {
  width: 40%;
  padding-right: 15px;
  padding-left: 15px;
} */

/*<-- ******************************************* End Contact Form Area  *************************************** --> */

/********************************************* Start Gallary Section ************************************/

section {
  display: block;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.gallery .icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  z-index: 0;
  opacity: 0;
  position: relative;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background: #007bff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.col-lg-2, .col-md-4 {
  position: relative;
  width: 100%;
}

.col, .no-gutters>[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.gallery {
  display: block;
  height: 270px;
  position: relative;
}

.align-items-center {
  -webkit-box-align: center !important;
  align-items: center !important;
}

.d-flex {
  display: flex !important;
}

a {
  transition: .3s all ease;
  color: #007bff;
}

a {
  text-decoration: none;
  background-color: transparent;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* user agent stylesheet */

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.ftco-section {
  padding: 7em 0;
  position: relative;
}

@media (max-width: 767.98px) {
  .ftco-section {
    padding: 6em 0;
  }
}

*/ .ftco-no-pt {
  padding-top: 0 !important;
}

.ftco-no-pb {
  padding-bottom: 0 !important;
}

.ftco-bg-dark {
  background: #3c312e;
}

.gallery .icon span {
  color: white;
}

@media (max-width: 991.98px) {
  .gallery .icon {
    opacity: 1;
  }
}

.gallery:hover .icon, .gallery:focus .icon {
  opacity: 1;
}

.gallery-img .gallery-item {
  background-size: cover;
  position: relative;
  background-position: center;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 25px;
  overflow: hidden;
  transition: all .5s ease;
}

@media(max-width:991px) {
  .gallery-img .gallery-item {
    height: 300px !important;
  }
}

.gallery-img .gallery-item .overlay-gallery {
  font-size: 50px;
}

.gallery-img .gallery-item:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
}

.gallery-img .gallery-item:hover .overlay-gallery {
  height: 100%;
  opacity: 1;
}

/********************************************* End Gallary Section ************************************/

/********************************************* Start Footer Section ************************************/

.footer-section {
  background-color: #252525;
  color: var(--logo-color);
}

.footer-section .descrip {
  line-height: 2;
}

.footer-section .footer_social_item {
  display: inline-block;
  margin-right: 15px;
}

.footer_social_item a {
  color: var(--bg-color);
}

.footer_social_item a i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 2px solid;
  border-radius: 50%;
  transition: all .5s ease;
}

.footer_social_item:hover a i {
  transform: scale(1.1);
  box-shadow: 0 0 5px 1px var(--bg-color);
}

.blog-item {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.blog-item:hover .details {
  color: var(--bg-color);
}

.blog-item .img img {
  transition: all .5s ease;
}

.blog-item:hover .img img {
  transform: scale(1.1);
  border-radius: 50% !important;
  border: 3px solid var(--bg-color);
}

.blog-item .details {
  position: absolute;
  top: 10%;
  left: 45%;
  width: 100%;
  height: 100%;
  font-size: 14px;
  transition: all .3s ease;
}

@media (max-width:767px) {
  .blog-item .details {
    left: 25%;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .blog-item .details {
    left: 18%;
  }
}

.footer-section .destenation-item li {
  margin-bottom: 25px;
  cursor: pointer;
}

.footer-section .destenation-item li:hover a {
  color: var(--bg-color);
  text-decoration: underline !important;
}

.footer-section .contact-item li a, .footer-section .destenation-item li a {
  font-size: 16px;
  color: var(--bg-color);
  font-weight: 600;
  transition: all .5s ease;
}

.footer-section .destenation-item li a i {
  color: var(--main-color);
}

.footer-section .contact-item {
  margin-top: 35px !important;
}

.footer-section .contact-item li {
  margin-bottom: 25px;
  transition: all .5s ease;
  padding: 15px 0;
}

.footer-section .contact-item li a i {
  color: var(--main-color);
  transition: all .5s ease;
}

.footer-section .copyright {
  border-top: 1px solid #444;
  font-size: 18px;
  font-weight: 500;
}

.footer-section .copyright span {
  font-family: 'slideText';
  color: var(--bg-color);
}

/********************************************* End Footer Section **************************************/